// Colors --------------------------------//

$error-color:     #f04124;
$dark-background: #333333;
$alert-default:   #008cba;
$alert-border:    #0078a0;
$alert-alert:     #de2d0f;
$alert-warning:   #f08a24;
$alert-warn-bord: #de770f;
$alert-button:    #cf2a0e;
$success:         #43ac6a;
$success-border:  #3a945b;
$success-button:  #368a55;
$label-small:     #676767;
$label:           #4d4d4d;
$button-reg:      #007095;
$body-text-color: #222222;


// Font Stacks ---------------------------//

$helvetica-stack: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;